body {
    text-align: center;
    background: black;
}

#styleText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

#wrapper {
    position: center;
    text-align: center;
    place-items: center;
    place-content: center;
    max-width: max-content;
    background: linear-gradient(to right, red, rgb(238, 157, 170), white);
    padding: 7px;
    border-radius: 10px;
}

#inner {
    text-align: center;
    place-items: center;
    place-content: center;
    background: black;
    color: white;
    padding: 5px;
}

h2 {
    
}

#item1 {
    background-image: linear-gradient(to right, red, blue);
    color: white;
}

#item2 {
    background-image: linear-gradient(to top, green, lime, yellow);
    /*border-radius can be a maximum of 50% of element width. "Rounds corners"*/
    border-radius: 10px;
}

#item3 {
    background-color: black;
    animation: pulsate 0.5s infinite alternate;
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 420px aqua,
            0 0 820px aqua,
            0 0 920px aqua,
            0 0 1020px aqua,
            0 0 151px aqua;
    }

#item4 {
    background-color: black;
        animation: flicker 1.5s infinite alternate;
        font-family: 'Orbitron', sans-serif;
        color: whitesmoke;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 420px red,
            0 0 820px red,
            0 0 920px red,
            0 0 1020px red,
            0 0 151px red;
    }

#item5 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 4px gray;
    color: black;
    background-color: white;
    border-radius: 50%;
}

#item6 {
    font-family: 'Handjet', sans-serif;
    font-size: 55px;
    /* text-shadow: 3px 3px 3px maroon; */
    background-image: linear-gradient(180deg, red, rgb(255, 77, 0), yellow);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 3s infinite alternate;
}

/* Start of Buttons Header */
#buttonWrapper {
    max-width: max-content;
    background: linear-gradient(to right, blue, aqua, white);
    padding: 7px;
    border-radius: 10px;
}

#buttons {
    background: black;
    color: white;
    padding: 5px;
}
/* Start of Button Table */
table,
th,
td {
    border: 2px solid white;
}

/* th {
    background-image: linear-gradient(45deg, magenta, lime);
    -webkit-background-clip: text;
    color: transparent;
} */

#but1 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: rgb(255, 255, 255);
    background-color: lime;
    border: 5px solid limegreen;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s, border 0.3s;
}

#but1:hover {
    transform: translateY(-3px);
    background-color: crimson;
    border: 5px solid brown;
}

